
    <div class="hs-dropdown relative inline-flex [--placement:bottom-left] sm:[--trigger:hover]">
        <a class="relative hs-dropdown-toggle inline-flex  icon-hover text-gray-600" href="#">
            <i class="ti ti-bell-ringing text-xl relative z-[1]"></i>
            <div
                class="absolute inline-flex items-center justify-center  text-white text-[11px] font-medium  bg-blue-600 w-2 h-2 rounded-full -top-[1px] -right-[6px]">
            </div>
        </a>
        <div class="card hs-dropdown-menu transition-[opacity,margin] border border-gray-400 rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max  w-[300px] hidden z-[12]"
            aria-labelledby="hs-dropdown-custom-icon-trigger">
            <div>
               <h3 class="text-gray-600 font-semibold text-base px-6 py-3">Notification</h3>
               <ul class="list-none  flex flex-col">
                <li>
               <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                <p class="text-sm text-gray-600 font-semibold">Roman Joined the Team!</p>
                <p class="text-xs text-gray-500 font-medium">Congratulate him</p>
               </a>
                </li>
                <li>
                <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                    <p class="text-sm text-gray-600 font-semibold">New message received</p>
                    <p class="text-xs text-gray-500 font-medium">Salma sent you new message</p>
                </a>
                </li>
                <li>
                  <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                    <p class="text-sm text-gray-600 font-semibold">New Payment received</p>
                    <p class="text-xs text-gray-500 font-medium">Check your earnings</p>
                  </a>
                </li>
                <li>
                 <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                    <p class="text-sm text-gray-600 font-semibold">Jolly completed tasks</p>
                    <p class="text-xs text-gray-500 font-medium">Assign her new tasks</p>
                 </a>
                </li>
                <li>
                  <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                    <p class="text-sm text-gray-600 font-semibold">Roman Joined the Team!</p>
                    <p class="text-xs text-gray-500 font-medium">Congratulate him</p>
                  </a>
                </li>
               </ul>
            </div>
        </div>
    </div>
