<div class="hs-dropdown relative inline-flex px-4">
    <a class="relative hs-dropdown-toggle cursor-pointer align-middle rounded-full">
        <img class="object-cover w-[35px] h-[35px] rounded-full" src="@@webRoot/assets/images/profile/user-1.jpg" alt=""
            aria-hidden="true">
    </a>
    <div class="card hs-dropdown-menu transition-[opacity,margin] border border-border rounded-[7px] duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max  w-[200px] hidden z-[2]"
        aria-labelledby="hs-dropdown-custom-icon-trigger">
        <div class="card-body p-0 py-2">
            <a href="javscript:void(0)" class="flex gap-2 items-center px-4 py-[6px]">
                <i class="ti ti-user text-muted text-xl "></i>
                <p class="text-sm text-muted">My Profile</p>
            </a>
            <a href="javscript:void(0)" class="flex gap-2 items-center px-4 py-[6px]">
                <i class="ti ti-mail text-muted text-xl"></i>
                <p class="text-sm text-muted">My Account</p>
            </a>
            <a href="javscript:void(0)" class="flex gap-2 items-center px-4 py-[6px]">
                <i class="ti ti-list-check text-muted text-xl "></i>
                <p class="text-sm text-muted">My Task</p>
            </a>
            <div class="px-4 mt-[7px]">
                <button class="btn-outline-primary w-full hover:bg-primary hover:text-white">Logout</button>
            </div>

        </div>
    </div>
</div>

