 .DEFAULT_THEME{
    --color-primary: #5D87FF;
    --color-secondary: #49BEFF;
    --color-lightprimary:#ECF2FF;
    --color-lightsecondary:#E8F7FF;
    --color-info:#539BFF;
    --color-success:#13DEB9;
    --color-warning:#FFAE1F;
    --color-error:#FA896B;
    --color-lightsuccess:#E6FFFA;
    --color-lighterror:#FDEDE8;
    --color-lightinfo:#EBF3FE;
    --color-lightwarning:#FEF5E5;
    --color-darkprimary:#4f73d9;
    --color-darksecondary:#3ea2d9;
    --color-darksuccess:#10bd9d;
    --color-darkwarning:#d9941a;
    --color-darkerror:#d5745b;
    --color-darkinfo:#4784d9;
    --color-darkemphasis:#4a5363;
    --color-lightemphasis:#d1d4d6;
    --color-white:#fff ;
	--color-dark:#202936;
    --color-border:#e5eaef;
    --color-heading:#2a3547;
    --color-lightgray:#F6F9FC;
    --color-body:#eaeff4;
    --color-transparent:transparent;
    --color-muted:#5A6A85;
    --color-gray100:#ebf1f6;
}

