.header-navbar li a{
    padding: 5px 10px;
    border-radius:7px;
}

/* .header-navbar li a.header-link:hover{
    color:var(--color-primary);
    background-color: var(--color-lightprimary);
} */
/* .header-navbar li a.header-link{
    color:var(--color-textPrimary) ;
} */
.icon-nav li a:hover.icon-hover{
    color:var(--color-primary) ;
}
.icon-hover:hover::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-lightprimary);
}