img,
video {
  max-width: fit-content;
  height: auto;
}

.hs-overlay-backdrop{
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}


.cardwithborder .card {
    box-shadow: none;
    border: 1px solid #ebf1f6;
}
.DARK_DEFUALT_THEME.cardwithborder .card {
    box-shadow: none;
    border: 1px solid var(--color-border);
}
.sidebar-scroll {
    height: calc(100% - 50px);
}
.skin-colors li.active i {
    opacity: 1 !important;
}
.dark-skin-colors li.active i {
    opacity: 1 !important;
}
.light-logo {
    display: none;
}

