<!DOCTYPE html>
<html   lang="en" dir="ltr" >

<head>
	@@include("../partials/head.html")
	<title>Modernize TailwindCSS HTML Admin Template</title>
</head>

<body class="DEFAULT_THEME bg-white">
	<main>
		<!--start the project-->
		<div id="main-wrapper" class=" flex">
			<aside id="application-sidebar-brand"
				class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400  bg-white dark:bg-dark left-sidebar   transition-all duration-300" >
				@@include("../partials/sidebar.html")
			</aside>
			<div class="w-full page-wrapper overflow-hidden">

				<!--  Header Start -->
				<header class="container full-container w-full text-sm   py-4">
					<div class=" w-full">@@include("../partials/header.html")</div>
				</header>
				<!--  Header End -->

				<!-- Main Content -->
				<main class="h-full overflow-y-auto  max-w-full  pt-4">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="card">
							<div class="card-body flex flex-col gap-6">
								<h6 class="text-lg text-gray-600 font-semibold">Alerts</h6>
								<div class="card">
									<div class="card-body flex flex-col gap-3">
                                        <div class="bg-blue-500 border  text-sm text-blue-600 rounded-md p-4 " role="alert">
                                            <span class="font-bold">Primary</span> alert! You should check in on some of those fields below.
                                          </div>
                                          <div class="bg-cyan-400 border text-sm text-cyan-500 rounded-md p-4" role="alert">
                                            <span class="font-bold">Secondary</span> alert! You should check in on some of those fields below.
                                          </div>
                                          <div class="bg-teal-400 border text-sm text-teal-500 rounded-md p-4" role="alert">
                                            <span class="font-bold">Success</span> alert! You should check in on some of those fields below.
                                          </div>
                                          <div class="bg-yellow-400 border text-sm text-yellow-500 rounded-md p-4" role="alert">
                                            <span class="font-bold">Warning</span> alert! You should check in on some of those fields below.
                                          </div>
                                          <div class="bg-red-400 border text-sm text-red-500 rounded-md p-4" role="alert">
                                            <span class="font-bold">Danger</span> alert! You should check in on some of those fields below.
                                          </div>
                                          <div class="bg-blue-200 border text-sm text-blue-300 rounded-md p-4" role="alert">
                                            <span class="font-bold">Info</span> alert! You should check in on some of those fields below.
                                          </div>
                                          <div class="bg-gray-100 border border-gray-400 text-sm text-gray-600 rounded-md p-4" role="alert">
                                            <span class="font-bold">Light</span> alert! You should check in on some of those fields below.
                                          </div>                                       								
                                          <div class="bg-gray-500 border border-gray-400 text-sm text-gray-700 rounded-md p-4" role="alert">
                                            <span class="font-bold">Dark</span> alert! You should check in on some of those fields below.
                                          </div>                                       								
									</div>
								</div>
							</div>
						</div>
					</div>


				</main>
				<!-- Main Content End -->
				
			</div>
		</div>
		<!--end of project-->
	</main>


	@@include("../partials/scripts.html")
</body>

</html>