<!DOCTYPE html>
<html   lang="en" >

<head>
	@@include("../partials/head.html")
	<title>Modernize TailwindCSS HTML Admin Template</title>
</head>

<body class="DEFAULT_THEME bg-white">
	<main>
		<!--start the project-->
		<div id="main-wrapper" class=" flex">
			<aside id="application-sidebar-brand"
				class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400  bg-white  left-sidebar   transition-all duration-300" >
				@@include("../partials/sidebar.html")
			</aside>
			<div class="w-full page-wrapper overflow-hidden">

				<!--  Header Start -->
				<header class="container full-container w-full text-sm   py-4">
					<div class=" w-full">@@include("../partials/header.html")</div>
				</header>
				<!--  Header End -->

				<!-- Main Content -->
				<main class="h-full overflow-y-auto  max-w-full  pt-4">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="card">
							<div class="card-body flex flex-col gap-6">
								<h6 class="text-lg text-gray-600 font-semibold">Buttons</h6>
								<div class="card">
									<div class="card-body flex flex-wrap gap-3">
										<button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-blue-600 text-white hover:bg-blue-700 ">
										Primary
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-cyan-500 text-white hover:bg-cyan-600">
											Secondary
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-teal-500 text-white hover:bg-teal-600">
											Success
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-yellow-500 text-white hover:bg-yellow-600">
											Warning
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-red-500 text-white hover:bg-red-600">
											Danger
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-blue-300 text-white hover:bg-blue-400">
											Info
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-gray-600 text-white hover:bg-gray-700">
											Dark
										  </button>										
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-transparent text-gray-600 hover:bg-gray-400">
											Light
										  </button>	
										  <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-md text-blue-600 hover:text-blue-700 ">
											Link
										  </button>									
									</div>
								</div>
								<h6 class="text-lg text-heading font-semibold">Outline buttons</h6>
								<div class="card">
									<div class="card-body flex flex-wrap gap-3">
										<button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-blue-600 text-blue-600 hover:border-blue-600 hover:text-white hover:bg-blue-600">
											Primary
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-cyan-500 text-cyan-500 hover:border-cyan-500 hover:text-white hover:bg-cyan-500">
											Secondary
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-teal-500 text-teal-500 hover:border-teal-500 hover:text-white hover:bg-teal-500 ">
											Success
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border text-yellow-500 hover:border-yellow-500 hover:text-white hover:bg-yellow-500 border-yellow-500">
											Warning
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-red-500 text-red-500 hover:border-red-500 hover:text-white hover:bg-red-500">
											Danger
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-blue-300 text-blue-300  hover:border-blue-300 hover:text-white hover:bg-blue-300">
											Info
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border text-gray border-gray-700 hover:border-gray-700 hover:text-white hover:bg-gray-700">
											Dark
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-gray-200 text-gray-200 hover:border-transparent hover:text-gray-500 hover:bg-transparent">
											Light
										  </button>
										  <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent text-gray-500 hover:border-transparent hover:text-blue-600">
											Link
										  </button>
									</div>
								</div>
							</div>
						</div>
					</div>


				</main>
				<!-- Main Content End -->
			
			</div>
		</div>
		<!--end of project-->
	</main>


	@@include("../partials/scripts.html")
</body>

</html>