<!DOCTYPE html>
<html   lang="en" dir="ltr" >

<head>
	@@include("../partials/head.html")
	<title>Modernize TailwindCSS HTML Admin Template</title>
</head>

<body class="DEFAULT_THEME bg-white">
	<main>
		<!--start the project-->
		<div id="main-wrapper" class=" flex">
			<aside id="application-sidebar-brand"
				class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400  bg-white dark:bg-dark left-sidebar   transition-all duration-300" >
				@@include("../partials/sidebar.html")
			</aside>
			<div class="flex flex-col flex-1 w-full page-wrapper">

				<!--  Header Start -->
				<header class="container full-container w-full text-sm   py-4">
					<div class=" w-full">@@include("../partials/header.html")</div>
				</header>
				<!--  Header End -->

				<!-- Main Content -->
				<main class="h-full overflow-y-auto  max-w-full  pt-4">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="card">
							<div class="card-body">
                                        <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-6 gap-x-0 lg:gap-y-0 gap-y-6">
                                           <div class="flex flex-col gap-6">
                                            <h6 class="text-lg text-gray-600 font-semibold">Card</h6>
                                            <div class="card overflow-hidden">
                                                <div class=" bg-white">
                                                    <img class="w-full h-auto rounded-t-xl" src="@@webRoot/assets/images/products/product-1.jpg" alt="Image Description">
                                                    <div class="card-body">
                                                      <h3 class="text-lg font-medium text-gray-700">
                                                        Card title
                                                      </h3>
                                                      <p class="mt-1 text-sm text-gray-500 pr-10 ">
                                                        Some quick example text to build on the card title and make up the bulk of the card's content.
                                                      </p>
                                                      <a class="mt-4 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-blue-600 text-white hover:bg-blue-700 " href="#">
                                                        Go somewhere
                                                      </a>
                                                    </div>
                                                  </div>                                                
                                            </div>
                                           </div>
                                           <div class="flex flex-col gap-6">
                                            <h6 class="text-lg text-gray-600 font-semibold">Header and footer</h6>
                                            <div class="card">
													<div class="py-4 px-7 ">
													  <p class="mt-1 text-sm text-gray-500">
														Featured
													  </p>
													</div>
													<div class="card-body">
													  <h3 class="text-lg font-medium text-gray-600 mb-2">
														Special title treatment
													  </h3>
													  <p class="text-sm text-gray-500 pe-10">
														With supporting text below as a natural lead-in to additional content.
													  </p>
                                                      <a class="mt-4 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-md border border-transparent bg-blue-600 text-white hover:bg-blue-700 " href="#">
                                                        Go somewhere
                                                      </a>
													</div>                                              
                                            </div>
                                           </div>
                                           <div class="flex flex-col gap-6">
                                            <h6 class="text-lg text-gray-600 font-semibold">Titles, text, and links</h6>
                                            <div class="card">
													<div class="card-body">
														<div class="flex flex-col">
															<h3 class="text-lg font-medium text-gray-600">
															  Card title
															</h3>
															<p class=" text-sm font-medium  text-gray-500 dark:text-gray-500">
															  Card subtitle
															</p>
															<p class="mt-2 text-sm text-gray-500 pe-10">
																Some quick example text to build on the card title and make up the bulk of the card's content.
															</p>
                                                           <div class="flex gap-2">
															<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-700" href="#">
																Card link
															   <i class="ti ti-chevron-right text-base"></i>
															  </a>
															<a class="mt-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-700" href="#">
																Another link
															   <i class="ti ti-chevron-right text-base"></i>
															  </a>
														   </div>
														  </div>
													</div>                                              
                                            </div>
                                           </div>
                                        </div>                                   								
									</div>
						</div>
					</div>


				</main>
				<!-- Main Content End -->
			
			</div>
		</div>
		<!--end of project-->
	</main>


	@@include("../partials/scripts.html")
</body>

</html>