<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    @@include("../partials/head.html")
    <title>Modernize TailwindCSS HTML Admin Template</title>
</head>

<body class="DEFAULT_THEME bg-white">
    <main>
        <!--start the project-->
        <div id="main-wrapper" class=" flex">
            <aside id="application-sidebar-brand"
                class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400  bg-white dark:bg-dark left-sidebar   transition-all duration-300">
                @@include("../partials/sidebar.html")
            </aside>
            <div class="w-full page-wrapper overflow-hidden">

                <!--  Header Start -->
                <header class="container full-container w-full text-sm   py-4">
                    <div class=" w-full">@@include("../partials/header.html")</div>
                </header>
                <!--  Header End -->

                <!-- Main Content -->
                <main class="h-full overflow-y-auto  max-w-full  pt-4">
                    <div class="container full-container py-5 flex flex-col gap-6">
                        <div class="card">
                            <div class="card-body flex flex-col gap-6">
                                <h6 class="text-lg text-gray-600 font-semibold">Forms</h6>
                                <div class="card">
                                    <div class="card-body">
                                    <form class="flex flex-col gap-6">
                                        <div>
                                            <label for="input-label-with-helper-text"
                                                class="block text-sm font-semibold mb-2 text-gray-600">Email address</label>
                                            <input type="email" id="input-label-with-helper-text"
                                                class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-600 focus:ring-0 "
                                                placeholder="you@site.com" aria-describedby="hs-input-helper-text">
                                            <p class="text-sm  text-gray-500 mt-2" id="hs-input-helper-text">We'll never share your email with anyone else.</p>
                                        </div>
                                        <div>
                                            <label for="input-label-with-helper-text"
                                                class="block text-sm font-semibold mb-2 text-gray-600">Password</label>
                                            <input type="password" id="input-label-with-helper-text"
                                                class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-600 focus:ring-0 "
                                                placeholder="Enter password" aria-describedby="hs-input-helper-text">
                                        </div>
                                        <div class="flex">
                                            <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded-[4px] text-blue-600 focus:ring-blue-500 " id="hs-default-checkbox">
                                            <label for="hs-default-checkbox" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Check me out</label>
                                          </div>
                                          <button class="btn text-sm text-white font-medium w-fit hover:bg-blue-700">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <h6 class="text-lg text-gray-600 font-semibold">Disabled forms</h6>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="text-2xl text-gray-500 mb-4">Disabled fieldset example</h6>
                                        <form action="" class="flex flex-col gap-4">
                                        <div>
                                            <label for="input-label-with-helper-text"
                                                class="block text-sm font-semibold mb-2 text-gray-600">Disabled input</label>
                                            <input type="email" id="input-label-with-helper-text"
                                                class="py-3 px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-600 focus:ring-0 bg-gray-400 disabled:opacity-80 disabled:pointer-events-none disabled:shadow-xl"
                                                placeholder="Disabled input" aria-describedby="hs-input-helper-text" disabled>
                                        </div>
                                        <div>
                                            <label for="input-label-with-helper-text"
                                                class="block text-sm font-semibold mb-2 text-gray-600">Disabled select menu</label>
                                                <select class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 bg-gray-400 disabled:opacity-80 disabled:pointer-events-none disabled:shadow-xl" disabled>
                                                    <option selected>Disabled select</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                  </select>
                                        </div>
                                        <div class="flex opacity-60">
                                            <input type="checkbox" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" id="hs-disabled-checkbox" disabled>
                                            <label for="hs-disabled-checkbox" class="text-sm text-gray-500 ms-3 ">Can't check this</label>
                                          </div>
                                          <button class="btn text-sm text-white font-medium w-fit hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" disabled>Submit</button>
                                        </form>
                                    </div>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </main>
                <!-- Main Content End -->

            </div>
        </div>
        <!--end of project-->
    </main>


    @@include("../partials/scripts.html")
</body>

</html>