<div class="py-4 px-5 sticky top-0 app-topstrip z-50 w-full">
    <div class="flex lg:flex-row flex-col gap-3 justify-between items-center">
        <div class="flex gap-6 items-center">
            <a href="https://adminmart.com" target="_blank">
                <img
                    src="@@webRoot/assets/images/logos/logo-adminmart.svg" alt
                    class="max-w-36"
                    aria-hidden="true">
            </a>
            <span
                class="border-e border-gray-400/50 h-5 w-[1px] lg:block hidden"></span>
            <a href="https://adminmart.com/templates/tailwind-templates/"
                target="_blank"
                class="xl:flex hidden items-center gap-2 text-base text-white hover:text-primary">
                <iconify-icon class="text-xl"
                    icon="solar:window-frame-linear"></iconify-icon> Templates
            </a>
            <a href="https://adminmart.com/support/" target="_blank"
                class="xl:flex hidden items-center gap-2 text-base text-white hover:text-primary">
                <iconify-icon class="text-xl"
                    icon="solar:question-circle-linear"></iconify-icon> Help
            </a>
            <a href="https://adminmart.com/hire-us/" target="_blank"
                class="xl:flex hidden items-center gap-2 text-base text-white hover:text-primary">
                <iconify-icon class="text-xl"
                    icon="solar:case-round-linear"></iconify-icon> Hire Us
            </a>
        </div>
        <div class="flex lg:flex-row flex-col items-center gap-3">
            <h5
                class="text-sm uppercase text-linear-gradient font-semibold">Checkout
                Pro Version</h5>
            <div class="flex gap-3 items-center">

                <div id="hs-dropdown-with-icons"
                    class="m-1 hs-dropdown [--trigger:hover] relative inline-flex border cursor-pointer border-white/50 rounded-sm px-5 py-1.5 text-white tex-base capitalize font-medium gap-3 items-center hover:bg-blue-700/80 hover:border-blue-700/80">
                    live Preview <iconify-icon class="text-xl"
                        icon="solar:alt-arrow-down-linear"></iconify-icon>
                    <div
                        class="hs-dropdown-menu p-4 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden   bg-white shadow-md rounded-lg mt-2  after:h-4 after:absolute after:-bottom-4 after:start-0 after:w-full before:h-4 before:absolute before:-top-4 before:start-0 before:w-full z-20 "
                        role="menu" aria-labelledby="hs-dropdown-with-icons">
                        <div class="space-y-1">
                            <a
                                href="https://adminmart.com/product/modernize-tailwind-nextjs-dashboard-template/?ref=56#product-demo-section"
                                target="_blank"
                                class="flex gap-3 items-center px-4 py-2 hover:bg-primary/10 text-dark text-base rounded-sm ">
                                <img class="h-5 w-5 "
                                    src="@@webRoot/assets/images/technology/tailwind-icon.svg"
                                    alt="icon">
                                Tailwind Version
                            </a>

                            <a
                                href="https://adminmart.com/product/modernize-bootstrap-5-admin-template/?ref=56#product-demo-section"
                                target="_blank"
                                class="flex gap-3 items-center px-4 py-2 hover:bg-primary/10 text-dark text-base rounded-sm ">
                                <img class="h-5 w-5 "
                                    src="@@webRoot/assets/images/technology/bt-cat-icon.svg"
                                    alt="icon">
                                Bootstrap Version
                            </a>

                            <a
                                href="https://adminmart.com/product/modernize-angular-material-dashboard/?ref=56#product-demo-section"
                                target="_blank"
                                class="flex gap-3 items-center px-4 py-2 hover:bg-primary/10 text-dark text-base rounded-sm ">
                                <img class="h-5 w-5 "
                                    src="@@webRoot/assets/images/technology/angular-cat-icon.svg"
                                    alt="icon">
                                Angular Version
                            </a>

                            <a
                                href="https://adminmart.com/product/modernize-react-mui-dashboard-theme/?ref=56#product-demo-section"
                                target="_blank"
                                class="flex gap-3 items-center px-4 py-2 hover:bg-primary/10 text-dark text-base rounded-sm ">
                                <img class="h-5 w-5 "
                                    src="@@webRoot/assets/images/technology/react-cat-icon.svg"
                                    alt="icon">
                                Reactjs Version
                            </a>
                            <a
                                href="https://adminmart.com/product/modernize-vuetify-vue-admin-dashboard/?ref=56#product-demo-section"
                                target="_blank"
                                class="flex gap-3 items-center px-4 py-2 hover:bg-primary/10 text-dark text-base rounded-sm ">
                                <img class="h-5 w-5 "
                                    src="@@webRoot/assets/images/technology/vue-cat-icon.svg"
                                    alt="icon">
                                Vuejs Version
                            </a>

                            <a
                                href="https://adminmart.com/product/modernize-nuxt-js-admin-dashboard/?ref=56#product-demo-section"
                                target="_blank"
                                class="flex gap-3 items-center px-4 py-2 hover:bg-primary/10 text-dark text-base rounded-sm ">
                                <img class="h-5 w-5 "
                                    src="@@webRoot/assets/images/technology/nuxt-cat-icon.svg"
                                    alt="icon">
                                Nuxtjs Version
                            </a>

                        </div>
                    </div>
                </div>

                <a
                    href="https://adminmart.com/product/modernize-tailwind-nextjs-dashboard-template/?ref=56#product-demo-section"
                    target="_blank"
                    class="flex items-center gap-2 text-base font-medium  text-white bg-primary hover:bg-blue-700/80 rounded-sm  px-4 py-2">
                    <iconify-icon class="text-lg"
                        icon="solar:crown-linear"></iconify-icon> Get Pro
                </a>

            </div>

        </div>
    </div>

</div>