

<!-- ========== HEADER ========== -->

    <nav class=" relative w-full bg-white mx-2 py-3 px-4 flex items-center justify-between md:py-0 md:px-6 lg:px-8" aria-label="Global">
      <div class="flex items-center justify-between">
        <div class="flex gap-2">
            <ul class="icon-nav flex items-center">
                <li class="relative px-3 xl:hidden">
                    <a class="text-xl  icon-hover cursor-pointer text-heading"
                        id="headerCollapse" data-hs-overlay="#application-sidebar-brand"
                        aria-controls="application-sidebar-brand" aria-label="Toggle navigation" href="javascript:void(0)">
                        <i class="ti ti-menu-2 relative z-[1]"></i>
                    </a>
                </li>
           
            <li class="relative">
                @@include("./header-components/dd-notification.html")
            </li>
            <li>

            </li>
            </ul>

        </div>
      </div>
      <div class=" overflow-hidden basis-full grow block">
        <div class="flex flex-row items-center justify-end ps-7">
          <a href="#" aria-current="page"><button class="btn font-medium hover:bg-primaryhover py-[8px]">Download Free</button></a>
          <a class="relative z-[2]" href="#">
            @@include("./header-components/dd-profile.html")
          </a>
        </div>
      </div>
    </nav>

  <!-- ========== END HEADER ========== -->