<!-- ---------------------------------- -->
<!-- Start Vertical Layout Sidebar -->
<!-- ---------------------------------- -->
<div class="py-5 px-5 flex justify-between" >
  @@include("./logo-sidebar.html")
</div>
<div class="scroll-sidebar" data-simplebar="">
 <div class="px-6 mt-8 mini-layout" >
    <nav class=" w-full flex flex-col sidebar-nav">
      <ul  id="sidebarnav">
        <div class="text-xs text-heading font-bold pb-4">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="hide-menu">HOME</span>
        </div>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="/"
           >
            <i class="ti ti-layout-dashboard  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Dashboard</span>
          </a>
        </li>

        <div class="text-xs text-link dark:text-darklink font-bold pb-4 mt-8">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="hide-menu">UI COMPONENTS</span>
        </div>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="@@webRoot/pages/buttons.html"
           >
            <i class="ti ti-article  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Buttons</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-alert-circle  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Alerts</span>
          </a>
        </li>        

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-cards  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Card</span>
          </a>
        </li>   

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-file-description  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Forms</span>
          </a>
        </li> 

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-typography  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Typography</span>
          </a>
        </li>   
        
        <div class="text-xs text-link dark:text-darklink font-bold pb-4 mt-8">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="hide-menu">AUTH</span>
        </div>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-login  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Login</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-user-plus  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Register</span>
          </a>
        </li>  

        <div class="text-xs text-link dark:text-darklink font-bold pb-4 mt-8">
          <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
          <span class="hide-menu">EXTRA</span>
        </div>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-mood-happy  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Icons</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link text-link  rounded-md w-full flex items-center text-sm hover:text-primary hover:bg-lightprimary" href="#"
           >
            <i class="ti ti-aperture  text-xl flex-shrink-0"></i> <span class="hide-menu flex-shrink-0">Sample Page</span>
          </a>
        </li>        

      </ul>
    </nav>
  </div>
</div>

<!-- Bottom Upgrade Option -->
<div class="px-6 pt-6  bg-surface  dark:bg-dark-surface relative">
  <div class="bg-lightprimary pt-[18px] pb-[25px] px-[22px] rounded-md">
    <div class="hide-menu ">
      <div class="flex items-center justify-between">
        
        <div class="mr-[32px]">
          <h5 class="text-base font-semibold text-dark mb-3">Upgrade to Pro</h5>
          <button class="text-xs font-semibold hover:bg-primaryhover text-white bg-primary rounded-[7px]  px-4 py-[7px]">Buy Pro</button>
        </div>
        <div class="-mt-[35px] -mr-[10px] mb-0 -ml-[43px]">
          <img src="@@webRoot/assets/images/profile/rocket.png"  alt="profile" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </aside> -->